:root {
    /* --main-bg-color: #5000ca; */
    --main-bg-color: #be73c1;
  }
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body , #body{
    font-family: 'Ubuntu', sans-serif !important;
    font-weight: 200;
    display: flex;
    flex-direction: column;
}
header{
    font-weight: 500 !important;
}
.spinner-grow{
    width: .8rem !important;
    height: .8rem!important;
    animation: spinner-grow 1s cubic-bezier(0.55, 0.06, 0.68, 0.19) infinite !important;
}
.svg{
    position: absolute;
    right: 0;
    margin-top: 9rem;
    margin-right: 13rem;
    width: 26%;
}
.padtop{
    padding-top: 12vh;
    text-align: center;
}
.services{
    background-color: var(--main-bg-color);
}
.features{
    background-color: var(--main-bg-color);
    color: #fff;
    padding: 5rem;
    padding-bottom: 4rem;
    text-align: center;
}
.row{
    justify-content: center;
    margin: 0 auto !important;
    margin-top: -6rem;
}
.shadow-card{    
    box-shadow: 7px 7px 0px 0px #ffd6e8;
}   
.ar-bg{
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg) !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: 13% !important;
    background-repeat: repeat !important;
}
.x{
    margin-top: 1rem;
}
.card{
    margin: 0 1.5rem;
    border-radius: 19px !important;
    width: 18rem;
}
.card-img, .card-img-bottom, .card-img-top{
    width: 68% !important;
    margin: 0 auto;
}
.card-body{
    text-align: center;
}
.card-a{
    color:#000;
    text-decoration:none;
}
.card-a:hover{
    color:#000;
    text-decoration:none;
}
.card-text{
    color: grey;
}
.card-title{
    font-weight: 600;
    color: #290a33;
}
.feature , .feature-vps{
    width: 244px;
    height: 55px;
    background: #FFFFFF;
    color: #000;
    box-shadow: 8px 8px 0px rgba(21, 7, 78, 0.25);
    border-radius: 19px;
    margin-bottom: 25px;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.feature-right{
    width: 244px;
    height: 55px;
    background: #FFFFFF;
    color: #000;
    box-shadow: 8px 8px 0px rgba(21, 7, 78, 0.25);
    border-radius: 19px;
    margin-bottom: 25px;
    margin-right: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nav-item:after {
    position: absolute;
    bottom: -5px;
    left: 0;
    width: 100%;
    height: 2px;
    content: '';
    background-color: #8167a9;
    opacity: 0;
    transition: all 200ms linear;
}
/*Nav Settings*/
.navbar-brand{
    padding-left: 2rem;
}
.nav-background{
    float: right;
    position: absolute;
    right:0;
}
.nav-link{
    color: #000000 !important;
}
.topbar{
    margin-top: -21px;
    position: absolute;
    right: 0;
    padding-right: 1rem;
}
.topbar > .nav > li {
    padding: 2px;
}
.mb-2{
    position: absolute;
    right: 0;
    padding-top: 2.5rem;
    padding-right: 1rem;
}
.text-sm{
    font-size: large;
}
.nav-link:hover{
    border-block-end: 2px solid;
    transition: all 10ms linear;
    border-color: #e79aff;
}
.text-success{
    margin-bottom: 2px !important;
    margin-right: 4px !important;
}
/*Buttons*/
.global-btn{
    border-radius: 40px !important;
    color: #fff !important;
    font-weight: 500 !important;
    padding: 3px 14px !important;
}
.contact-btn{
    background: #201D24 !important;
    color: #fff !important;
    box-sizing: border-box !important;
    box-shadow: 2px 3px 9px 1px rgba(21, 7, 78, 0.25) !important;
    border-radius: 40px !important;
    font-weight: 500 !important;
    padding: 6px 18px !important;
}
.solution-btn{
    border-radius: 40px !important;
    background-color: #f5f6f7 !important;
    color: #000 !important;
    box-sizing: border-box !important;
    box-shadow: 2px 3px 9px 1px rgba(21, 7, 78, 0.25) !important;
    font-weight: 500 !important;
    padding: 6px 18px !important;
    margin-right:10px;
}
.domain-btn{
    background-color: #f5f6f700 !important;
    color: #000000 !important;
    box-sizing: border-box !important;
    box-shadow: 2px 3px 9px 1px rgba(21, 7, 78, 0.25) !important;
    font-weight: 500 !important;
    padding: 6px 18px !important;
    margin-bottom: 1rem;
    border: 1px solid #000 !important;
    
}
button > i{
    padding-right: 6px;
}
.btn-light{
    border-color: #201d24 !important;
}
.btn-purple{
    background-color: #ea4ac5 !important;
    border-color: #ea4ac5 !important;
}
.btn-pruple:hover{
    background-color: #963f7f !important;
    border-color: #963f7f !important;
}
/* ------------- */
.brands{
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 304 304' width='304' height='304'%3E%3Cpath fill='%235e00f6' fill-opacity='0.46' d='M44.1 224a5 5 0 1 1 0 2H0v-2h44.1zm160 48a5 5 0 1 1 0 2H82v-2h122.1zm57.8-46a5 5 0 1 1 0-2H304v2h-42.1zm0 16a5 5 0 1 1 0-2H304v2h-42.1zm6.2-114a5 5 0 1 1 0 2h-86.2a5 5 0 1 1 0-2h86.2zm-256-48a5 5 0 1 1 0 2H0v-2h12.1zm185.8 34a5 5 0 1 1 0-2h86.2a5 5 0 1 1 0 2h-86.2zM258 12.1a5 5 0 1 1-2 0V0h2v12.1zm-64 208a5 5 0 1 1-2 0v-54.2a5 5 0 1 1 2 0v54.2zm48-198.2V80h62v2h-64V21.9a5 5 0 1 1 2 0zm16 16V64h46v2h-48V37.9a5 5 0 1 1 2 0zm-128 96V208h16v12.1a5 5 0 1 1-2 0V210h-16v-76.1a5 5 0 1 1 2 0zm-5.9-21.9a5 5 0 1 1 0 2H114v48H85.9a5 5 0 1 1 0-2H112v-48h12.1zm-6.2 130a5 5 0 1 1 0-2H176v-74.1a5 5 0 1 1 2 0V242h-60.1zm-16-64a5 5 0 1 1 0-2H114v48h10.1a5 5 0 1 1 0 2H112v-48h-10.1zM66 284.1a5 5 0 1 1-2 0V274H50v30h-2v-32h18v12.1zM236.1 176a5 5 0 1 1 0 2H226v94h48v32h-2v-30h-48v-98h12.1zm25.8-30a5 5 0 1 1 0-2H274v44.1a5 5 0 1 1-2 0V146h-10.1zm-64 96a5 5 0 1 1 0-2H208v-80h16v-14h-42.1a5 5 0 1 1 0-2H226v18h-16v80h-12.1zm86.2-210a5 5 0 1 1 0 2H272V0h2v32h10.1zM98 101.9V146H53.9a5 5 0 1 1 0-2H96v-42.1a5 5 0 1 1 2 0zM53.9 34a5 5 0 1 1 0-2H80V0h2v34H53.9zm60.1 3.9V66H82v64H69.9a5 5 0 1 1 0-2H80V64h32V37.9a5 5 0 1 1 2 0zM101.9 82a5 5 0 1 1 0-2H128V37.9a5 5 0 1 1 2 0V82h-28.1zm16-64a5 5 0 1 1 0-2H146v44.1a5 5 0 1 1-2 0V18h-26.1zm102.2 270a5 5 0 1 1 0 2H98v14h-2v-16h124.1zM242 149.9V160h16v34h-16v62h48v48h-2v-46h-48v-66h16v-30h-16v-12.1a5 5 0 1 1 2 0zM53.9 18a5 5 0 1 1 0-2H64V2H48V0h18v18H53.9zm112 32a5 5 0 1 1 0-2H192V0h50v2h-48v48h-28.1zm-48-48a5 5 0 0 1-9.8-2h2.07a3 3 0 1 0 5.66 0H178v34h-18V21.9a5 5 0 1 1 2 0V32h14V2h-58.1zm0 96a5 5 0 1 1 0-2H137l32-32h39V21.9a5 5 0 1 1 2 0V66h-40.17l-32 32H117.9zm28.1 90.1a5 5 0 1 1-2 0v-76.51L175.59 80H224V21.9a5 5 0 1 1 2 0V82h-49.59L146 112.41v75.69zm16 32a5 5 0 1 1-2 0v-99.51L184.59 96H300.1a5 5 0 0 1 3.9-3.9v2.07a3 3 0 0 0 0 5.66v2.07a5 5 0 0 1-3.9-3.9H185.41L162 121.41v98.69zm-144-64a5 5 0 1 1-2 0v-3.51l48-48V48h32V0h2v50H66v55.41l-48 48v2.69zM50 53.9v43.51l-48 48V208h26.1a5 5 0 1 1 0 2H0v-65.41l48-48V53.9a5 5 0 1 1 2 0zm-16 16V89.41l-34 34v-2.82l32-32V69.9a5 5 0 1 1 2 0zM12.1 32a5 5 0 1 1 0 2H9.41L0 43.41V40.6L8.59 32h3.51zm265.8 18a5 5 0 1 1 0-2h18.69l7.41-7.41v2.82L297.41 50H277.9zm-16 160a5 5 0 1 1 0-2H288v-71.41l16-16v2.82l-14 14V210h-28.1zm-208 32a5 5 0 1 1 0-2H64v-22.59L40.59 194H21.9a5 5 0 1 1 0-2H41.41L66 216.59V242H53.9zm150.2 14a5 5 0 1 1 0 2H96v-56.6L56.6 162H37.9a5 5 0 1 1 0-2h19.5L98 200.6V256h106.1zm-150.2 2a5 5 0 1 1 0-2H80v-46.59L48.59 178H21.9a5 5 0 1 1 0-2H49.41L82 208.59V258H53.9zM34 39.8v1.61L9.41 66H0v-2h8.59L32 40.59V0h2v39.8zM2 300.1a5 5 0 0 1 3.9 3.9H3.83A3 3 0 0 0 0 302.17V256h18v48h-2v-46H2v42.1zM34 241v63h-2v-62H0v-2h34v1zM17 18H0v-2h16V0h2v18h-1zm273-2h14v2h-16V0h2v16zm-32 273v15h-2v-14h-14v14h-2v-16h18v1zM0 92.1A5.02 5.02 0 0 1 6 97a5 5 0 0 1-6 4.9v-2.07a3 3 0 1 0 0-5.66V92.1zM80 272h2v32h-2v-32zm37.9 32h-2.07a3 3 0 0 0-5.66 0h-2.07a5 5 0 0 1 9.8 0zM5.9 0A5.02 5.02 0 0 1 0 5.9V3.83A3 3 0 0 0 3.83 0H5.9zm294.2 0h2.07A3 3 0 0 0 304 3.83V5.9a5 5 0 0 1-3.9-5.9zm3.9 300.1v2.07a3 3 0 0 0-1.83 1.83h-2.07a5 5 0 0 1 3.9-3.9zM97 100a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-48 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 96a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-144a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm96 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM49 36a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-32 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM33 68a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 240a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm80-176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 48a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm112 176a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm-16 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 180a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0 16a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm0-32a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16 0a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM17 84a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm32 64a3 3 0 1 0 0-6 3 3 0 0 0 0 6zm16-16a3 3 0 1 0 0-6 3 3 0 0 0 0 6z'%3E%3C/path%3E%3C/svg%3E");
    width:100%;
    height: 13.2vh;
    padding-right: unset !important;
    padding-left: unset !important;
}
.brands-img{
    padding-right: 2rem;
}
.brands-row{
    display: flex;
    justify-content: space-evenly;
    background-color:unset;
    backdrop-filter: blur(2px);
}
.Entreprise-section{
    background-color: #fff;
    color: #000000;
    padding-top: 4rem;
}
.entreprise-p {
    padding-left: 11rem !important;
    line-height: 31px;
    text-align: left;
    color: #5a5a59;
    font-weight: 400;
}
.entreprise-icons{
    text-align: center;
    display: flex;
    flex-direction: row-reverse;
}
.entreprise-body{
    display: flex;
    flex-basis: auto;
    margin-bottom: 23px;
}
.entreprise-body > p{
    font-size: larger;
    font-weight: 500;
    text-align: left;
    padding-left: 18px;
    margin-top: 1rem;
}
.box{
    width: 665px;
    height: 177px;
    left: 177px;
    top: 1717px;
    background: #363434;
    margin: 0 auto;
}
.ready{
    margin: 0 auto !important;
}
.min-vh-25{
    min-height: 25vh!important;
    padding-bottom: 3rem;
} 
/* FOOTER */
footer{
    background: white;
    box-shadow: -4px 3px 20px 0px #dd84b3;
}
.sub-footer{
    text-align: center;
    margin-top: -13rem;
}
.mb-4{
    font-weight: 700;
}
.sub-footer > a {
    color: #414044;
}
.sub-footer > img{
    width: 12%;
}
.sub-footer > h5{
    margin-bottom: 1.5rem!important;
    font-weight: 400
}
.w-5 {
    width: 50%!important;
}
.footer-img{
    width: 90%;
}
.footer-payements{
    width: 62%;
}
.footer-row{
    background-color: #FFFFFF !important;
}
/* tos */
.head-item{
    color: #000 !important;
    font-size: larger;
    font-weight: 700;
}
.tos{
    margin-top: 4rem;
    margin-bottom: 4rem;
}
.tos > .card{
    border-radius: unset !important;
    color: #000;
    font-weight: 300;
    padding: 2rem;
    width: 74%;
    margin: 0 auto;
}
.tos > .card-body{
    text-align: left !important;
}
.ml-auto, .mx-auto{
    margin: 0 auto !important;
}
.card-img-in{
    width: 29% !important;
    margin-top: -8rem;
    padding-bottom: 2.5rem;
}
.card-img-iin{
    width: 29% !important;
    margin-top: -8rem;
    padding-bottom: 2rem;
}
.feature > i {
    font-size: x-large;
    padding-right: .5rem;
    padding-block-end: .5rem;
    color: #ed6192;
}
.feature-vps > i {
    font-size: x-large;
    padding-right: .5rem;
    padding-block-end: .5rem;
    color: #ed6192;
}
.feature , .feature-vps> h4{
    color: #ed6192;
}
.feature-vps > h5{
    color: #ed6192;
}
.feature-right > i {
    font-size: x-large;
    padding-right: .5rem;
    padding-block-end: .5rem;
    color: #ed6192;
}
.feature > .fa-headset{
    padding-block-end: 1.5rem;
}
.f-f {
    padding-block-end: 1.2rem !important;
}
.feature-right > h5{
    color: #ed6192;
}
.feature-right > h6{
    color: #ed6192;
}
#features{
    margin-top: -5rem;
    background: #fff;
    color: #000000;
    padding-bottom: 4rem;
}
#web-features {
    margin-top: 7rem;
}
#web-features:last-child{
    margin-top: 1rem;
}
.jum-bg{
    color: #fff;
    background-color: #be73c1 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 2000 1500'%3E%3Cdefs%3E%3CradialGradient id='a' gradientUnits='objectBoundingBox'%3E%3Cstop offset='0' stop-color='%23000000'/%3E%3Cstop offset='1' stop-color='%23420f52'/%3E%3C/radialGradient%3E%3ClinearGradient id='b' gradientUnits='userSpaceOnUse' x1='0' y1='750' x2='1550' y2='750'%3E%3Cstop offset='0' stop-color='%23210829'/%3E%3Cstop offset='1' stop-color='%23420f52'/%3E%3C/linearGradient%3E%3Cpath id='s' fill='url(%23b)' d='M1549.2 51.6c-5.4 99.1-20.2 197.6-44.2 293.6c-24.1 96-57.4 189.4-99.3 278.6c-41.9 89.2-92.4 174.1-150.3 253.3c-58 79.2-123.4 152.6-195.1 219c-71.7 66.4-149.6 125.8-232.2 177.2c-82.7 51.4-170.1 94.7-260.7 129.1c-90.6 34.4-184.4 60-279.5 76.3C192.6 1495 96.1 1502 0 1500c96.1-2.1 191.8-13.3 285.4-33.6c93.6-20.2 185-49.5 272.5-87.2c87.6-37.7 171.3-83.8 249.6-137.3c78.4-53.5 151.5-114.5 217.9-181.7c66.5-67.2 126.4-140.7 178.6-218.9c52.3-78.3 96.9-161.4 133-247.9c36.1-86.5 63.8-176.2 82.6-267.6c18.8-91.4 28.6-184.4 29.6-277.4c0.3-27.6 23.2-48.7 50.8-48.4s49.5 21.8 49.2 49.5c0 0.7 0 1.3-0.1 2L1549.2 51.6z'/%3E%3Cg id='g'%3E%3Cuse href='%23s' transform='scale(0.12) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.2) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.25) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(0.3) rotate(-20)'/%3E%3Cuse href='%23s' transform='scale(0.4) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(0.5) rotate(20)'/%3E%3Cuse href='%23s' transform='scale(0.6) rotate(60)'/%3E%3Cuse href='%23s' transform='scale(0.7) rotate(10)'/%3E%3Cuse href='%23s' transform='scale(0.835) rotate(-40)'/%3E%3Cuse href='%23s' transform='scale(0.9) rotate(40)'/%3E%3Cuse href='%23s' transform='scale(1.05) rotate(25)'/%3E%3Cuse href='%23s' transform='scale(1.2) rotate(8)'/%3E%3Cuse href='%23s' transform='scale(1.333) rotate(-60)'/%3E%3Cuse href='%23s' transform='scale(1.45) rotate(-30)'/%3E%3Cuse href='%23s' transform='scale(1.6) rotate(10)'/%3E%3C/g%3E%3C/defs%3E%3Cg transform='rotate(0 0 0)'%3E%3Cg transform='rotate(0 0 0)'%3E%3Ccircle fill='url(%23a)' r='3000'/%3E%3Cg opacity='0.5'%3E%3Ccircle fill='url(%23a)' r='2000'/%3E%3Ccircle fill='url(%23a)' r='1800'/%3E%3Ccircle fill='url(%23a)' r='1700'/%3E%3Ccircle fill='url(%23a)' r='1651'/%3E%3Ccircle fill='url(%23a)' r='1450'/%3E%3Ccircle fill='url(%23a)' r='1250'/%3E%3Ccircle fill='url(%23a)' r='1175'/%3E%3Ccircle fill='url(%23a)' r='900'/%3E%3Ccircle fill='url(%23a)' r='750'/%3E%3Ccircle fill='url(%23a)' r='500'/%3E%3Ccircle fill='url(%23a)' r='380'/%3E%3Ccircle fill='url(%23a)' r='250'/%3E%3C/g%3E%3Cg transform='rotate(0 0 0)'%3E%3Cuse href='%23g' transform='rotate(10)'/%3E%3Cuse href='%23g' transform='rotate(120)'/%3E%3Cuse href='%23g' transform='rotate(240)'/%3E%3C/g%3E%3Ccircle fill-opacity='0.1' fill='url(%23a)' r='3000'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}
.jum-bg-2{
    color: #fff;
    background-color: #be73c1 !important;
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat-back.svg') !important;
    background-attachment: fixed !important;
    background-position: center !important;
    background-size: 13% !important;
    background-repeat: repeat !important;
    margin-top: -5rem;
}
.diplaying{
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    margin: 0 auto;
}
.feature-vps{
    display: flex;
    flex-flow: wrap;
    padding: 1rem;
    height: auto;
}
@media (max-width: 640px) {
    header{
        height: 17vh;
    }
    .svg{
        margin-top: 2rem;
        margin-right: 1rem;
        width: 82%;
        display: block;
        margin: 0 auto;
        position: relative;
    }
    .brand-container-card .brand-img {
        height: 113px !important;
    }
    .row-d{
        display: block;
    }
    .features{
        padding: 0rem;
    }
    .svg2{
        width: 100%;
    }
    .svg-vps{
        margin: 0 auto;
        width: 48%;
        position: unset;
        display: block;
    }
    .svg-web{
        width: 100%;
        display: block;
        margin: 0 auto;
    }
    #domains{
        margin-top: 3rem;
    }
    .span-d{
        display: flex;
        justify-content: center;
    }
    .col-lg-4{
        padding-left: unset !important;
        padding-right: unset !important;
    }
    .mb-5{
        margin: 0 auto !important;
        display: block !important;
    }
    .solution-btn{
        margin-bottom: 10px;
    }
    .card{
        margin-bottom: 2rem;
    }
    .feature{
        margin-left: auto;
        margin-right: auto;
    }
    #features{
        margin-top: 2rem;
    }
    .feature-right{
        margin-left: auto;
        margin-right: auto;
    }
    .feature-right > i {
        font-size: 24px;
        padding-block-end: 0.5rem;
        color: #ed6192;
        padding-left: 0.5rem;
        padding-right: 0.4rem;
    }
    .feature-right > h5 {
        color: #ed6192;
        font-size: 1.07rem;
    }
    .brands{
        height: 31vh;
    }
    .brands-img{
        padding-right: unset;
    }
    .brands-row{
        padding: 0 !important;
    }
    .feature-img{
        margin-left: 0 !important;
        margin-right: 0 !important;
        width: auto !important;
    }
    .col-sm{
        width: unset !important;
        padding-right: 15px !important;
        padding-left: 15px !important;
    }
    .mb-2 {
        position: absolute;
        right: 0;
        padding-top: 0;
        padding-right: 0;
        font-size: 13px !important;
        font-weight: 700;
    }
    .title{
        font-size: xx-large;
    }
    .topbar{
        display: none !important;
    }
    .nav-item{
        padding-right: 4px;
    }
    .global-btn{
        padding: 1px 5px !important;
    }
    .entreprise-p{
        padding-left: 0 !important;
        padding-top: 10px;
    }
    .w-5 {
        width: 78%!important;
    }
    .min-vh-25{
        padding-top: 2.5rem;
        background: #420f52;
        padding-top: 5rem;
    }
    .sub-footer {
        text-align: center;
        margin-top: -2rem;
    }
    .sub-footer > img {
        width: 53%;
    }
    .sub-footer > h5 {
        margin-bottom: 1.5rem!important;
        font-weight: 400;
        font-size: 1rem;
    }
    .footer-img{
        width: 56%;
    }
    .footer-payements{
        width: 40%;
    }
    .ent-plan-img{
        width: 100%;
    }
    .tr-mob{
        display: none;
    }
    .tr-mobile{
        display: flex;
        flex-direction: column;
        text-align: center;
        align-content: center;
        flex-wrap: wrap-reverse;
        border-top: 1.5px solid;
    } 
    .display-mobile{
        display: none !important;
    }
    .media-body > .text-sm{
        font-size: x-large;
    }
    .d-xs-none{
        display: none !important;
    }
    .card-m-t{
        width: 100%;
    }
    .pt-7{
        padding-top: 7rem;
    }
}

@media only screen and (min-width: 640px) {
    .sub-footer > img {
        width: 30%;
    }
    .sub-footer {
        text-align: center;
        margin-top: -5rem;
    }
    .topbar{
        display: none !important;
    }
    .padtop {
        padding-top: 15vh;
        text-align: center;
    }
    .svg {
        position: absolute;
        right: 0;
        margin-top: 9rem;
        margin-right: 0rem;
        width: 43%;
    }
    .container, .container-sm {
        max-width: 608px;
    }
    .card {
        margin: 13px 1.5rem;
    }
    .col-sm{
        flex-grow: 0;
    }
}

@media only screen and (min-width: 768px) {
  /*  .card{
        width: 15rem;
        margin: 0 0.1rem;
    }
    .col-sm {
        flex-grow: 1 !important;
    }
    .padtop {
        padding-top: 13vh;
        text-align: center;
    }
    .svg {
        position: absolute;
        right: 0;
        margin-top: 9rem;
        margin-right: 2rem;
        width: 38%;
    }
    .brands{
        height: 8.2vh;
    }
    .feature-img{
        width: 20rem;
    }
    .feature{
        margin-bottom: 15px;
    }
    .feature-right{
        margin-bottom: 15px;
    }
    .feature-img{
        width: 113% !important;
    } */
    .sub-footer > img {
        width: 30%;
    }
    .sub-footer {
        text-align: center;
        margin-top: -5rem;
    }
    #tos > .ml-auto{
        text-align: center;
    }
}

@media only screen and (min-width: 1024px) {
    .topbar {
        margin-top: -36px !important;
        font-size: 13px;
        display: flex !important;
    }
    .mb-2{
        font-size: larger;
    }
    .svg2{
        width: 26rem;
    }
    .sub-heading{
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: 20px;
        font-weight: 500;
    }
    .padtop-x{
        padding: 2rem;
    }
    .feature-img{
        margin-left: -1rem;
        margin-right: -1rem;
        width: 92%;
    }
    .jum-bg-2{
        margin-top: -3rem;
    }
    .entreprise-body {
        display: flex;
        flex-basis: auto;
        margin-bottom: 7px;
        width: 42rem;
    }
    .entreprise-body > p {
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        padding-left: 11px;
        margin-top: 1rem;
    }
    .entreprise-icons > img{
        width: 15%;
    }
    .entreprise{
        display: flex;
        flex-flow: row-reverse;
        margin-left: unset !important;
    }
    .brands-row{
        background-color: unset;
        backdrop-filter: blur(2px);
        padding: 2vh;
    }
    /*Footer*/
    .sub-footer {
        text-align: center;
        margin-top: -9rem;
    }
    .sub-footer > img {
        width: 16%;
    }
    .sub-footer > h5{
        font-size: 1rem;
    }
    .svg {
        position: absolute;
        right: 0;
        margin-top: -15rem;
        margin-right: 11rem;
        width: 30%;
    }
    .svg-vps{
        position: absolute;
        right: 0;
        margin-top: -17.5rem;
        margin-right: 17rem;
        width: 21%;
    }
    .svg-web{
        position: absolute;
        right: 0;
        margin-top: -15.5rem;
        margin-right: 21rem;
        width: 21%;
    }
    .x{    
        margin-top: 3rem;
        margin: 0 auto;
    }
    .ent-plan-img{
        width: 50%;
        margin-top: -12rem;
        margin-left: 8rem;
    }
    .w-6{
        width: 90%!important;
        color: #000;
    }
    .brand-container-card .brand-img {
        height: 108px !important;
    }
}

@media only screen and (min-width: 1440px) {
    .nav-background {
        width: 36%;
    }
    .mb-2{
        padding-top: 4rem;
        padding-right: 2rem;
        font-size: larger;
    }
    .topbar{
        padding-right: 2rem !important;;
        font-size: 14px !important;;
        display: flex !important;    
        margin-top: -28px !important;
    }
    .sub-heading{
        padding-top: 2rem;
        padding-bottom: 2rem;
        font-size: x-large;
        font-weight: 500;
    }
    h1{
        font-size: 2.5rem !important;
    }
    .card-text{
        padding-top: unset;
        padding-bottom: unset;
    }
    .card{
            width: 21rem;
    }
    .feature , .feature-right{
        width: 319px;
        height: 70px;
    }
    .feature-img{
        margin-left: -1rem;
        margin-right: -1rem;
        width: 74%;
        margin-top: -1rem;
    }
    .x{    
        margin-top: 3rem;
        margin: 0 auto;
    }
    .title{
        font-size: 2.5rem;
    }
    .brands-row {
        background-color: unset;
        backdrop-filter: blur(2px);
        padding: 3.6vh;
    }
    .brands-img {
        padding-right: 11rem;
    }    
    .brands-img:last-child {
        padding-right: unset;
    }
    .padtop-x{
        text-align: center;
        padding: 2rem;
    }
    .svg2{
        width: 31rem;
    }
    .entreprise{
        display: flex;
        flex-flow: row-reverse;
        margin-left: 17rem!important;
    }
    .entreprise-body{
        display: flex;
        flex-basis: auto;
        margin-bottom: 23px;
        width: unset;
    }
    .entreprise-icons > img{
        width: 18%;
    }
    /*Footer*/
    .sub-footer {
        text-align: center;
        margin-top: -13rem;
    }
    .sub-footer > img {
        width: 14%;
    }
    .sub-footer > h5{
        font-size: 1rem;
    }
    .w-5 {
        width: 32%!important;
    }
    .col-sm{
        flex-grow: 1;
    }
    .svg {
        position: absolute;
        right: 0;
        margin-top: -17rem;
        margin-right: 18rem;
        width: 26%;
    }
    .svg-vps{
        position: absolute;
        right: 0;
        margin-top: -23rem;
        margin-right: 26rem;
        width: 20%;
    }
    .svg-web{
        position: absolute;
        right: 0;
        margin-top: -18rem;
        margin-right: 26rem;
        width: 20%;
    }
    .card-img-in{
        width: 32% !important;
        margin-top: -9.5rem;
        padding-bottom: 2.5rem;
    }
    .card-img-iin{
        width: 29% !important;
        margin-top: -9rem;
        padding-bottom: 2.5rem;
    }
    .ent-plan-img{
        width: 50%;
        margin-top: -12rem;
        margin-left: 8rem;
    }
    .w-6{
        width: 90%!important;
        color: #000;
    }
    .brand-container-card .brand-img {
        height: 125px !important;
    }
    #features{
        margin-top: -6rem;
    }
}


.alertPulse-css {
    animation: alertPulse 2s ease-out;
    animation-iteration-count: infinite;
    opacity: 1;
    background: #9A2727; /* you need this to specify a color to pulse to */
}




section.faq{}

.accordion-section .panel-default > .panel-heading {
    border: 0;
    background: #f4f4f4;
    padding: 0;
}
.accordion-section .panel-default .panel-title a {
    display: block;
    font-style: normal;
    font-size: large;
    color: #eb4c83;
    text-decoration: none;
}
.accordion-section .panel-default{
    background: white;
    color: #505050;
}
.accordion-section .panel-default .panel-title a:after {
    font-family: 'FontAwesome';
    font-style: normal;
    font-size: 2rem;
    content: "\f106";
    color: #eb4c83;
    float: right;
    margin-top: -.4rem;
    text-decoration: none;
}
.accordion-section .panel-default .panel-title a.collapsed:after {
    content: "\f107";
}
.accordion-section .panel-default .panel-body {
    font-size: medium;
    background: white;
    color: #505050;
}
.accordion-section .panel-collapse{
    padding: 1rem 1rem;
    margin-bottom: 15px;
}

section.pricing {
    background: #ffffff;
    background: linear-gradient(to right, #ffffff, #ffffff);
  }
  
  .pricing .card {
    border: none;
    border-radius: 1rem;
    transition: all 0.2s;
    box-shadow: 8px 1rem 1rem 0 rgba(0, 0, 0, 0.1);
    margin-right: -2rem;
  }
  .pricing .card-body{
    border-radius: 16px;
  }
  .pricing hr {
    margin: 1.5rem 0;
  }
  
  .pricing .card-title {
    margin: 0.5rem 0;
    font-size: 0.9rem;
    letter-spacing: .1rem;
    font-weight: bold;
  }
  
  .pricing .card-price {
    font-size: 3rem;
    margin: 0;
  }
  
  .pricing .card-price .period {
    font-size: 0.8rem;
    color: #dd84b3;
  }
  
  .pricing ul li {
    margin-bottom: 1rem;
  }
  
  .pricing .btn {
    font-size: 80%;
    border-radius: 5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    padding: 1rem;
    opacity: 0.7;
    transition: all 0.2s;
  }

  /* Hover Effects on Card */
  
  @media (min-width: 992px) {
    .pricing .card:hover {
      margin-top: -.25rem;
      margin-bottom: .25rem;
      box-shadow: 0 0.5rem 1rem 0 rgba(0, 0, 0, 0.3);
    }
    .pricing .card:hover .btn {
      opacity: 1;
    }
  }

.panel-img{
    transform: scale(1) perspective(1040px) rotateY(-11deg) rotateX(2deg) rotate(2deg);
    width: 53%;
}
.panel-p{
    width: 59%;
    display: flex;
    padding-top: 5rem;
    font-weight: 500;
}
.panel-icon{
    font-size: xx-large;
    color: #fe804a;
    vertical-align: middle;
    padding-right: .5rem;
}
.web-icon{
    color: #505050;
    font-size: xx-large;
    vertical-align: middle;
    padding-right: .5rem;
}
.more-f>p{
    color: #dd84b3;
    font-size: 17px;
}
.active>.web-icon{
    font-size: xx-large;
    color: #ffffff;
    vertical-align: middle;
    padding-right: .5rem;
}
.list-group{
    border-radius: 10px !important;
}
.list-group-item>.fas{
    color: #dd84b3;
    padding-right: 0.5rem;
}
.list-group-item.active{
    background-color: #290a34 !important;
    border-color: #290a34 !important;
    font-weight: 400;
}
.home-l{
    display: flex !important;
    flex-direction: row-reverse;
}
.list-group-item+.list-group-item{
    border: none;
}
.list-group-item:first-child{
    border: none;
}
.w-5 .mb-4{
    color: black;
}

.brand-container-card .brand-img {
    height: 125px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(50%);
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}
.brand-container-card {
    margin-top: 30px;
}
.brand-container-card {
    background: #e8d1e7e0;
    border-radius: 25px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    box-shadow: 5px 8px 0px rgb(21 7 78 / 42%);
    border: 1px solid;
    border-color: #9d97b5;
    width: 250px;
    height: 100px;
}

.domain-container-card .domain-img {
    height: auto;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    padding: 1rem 0;
}
.domain-container-card {
    margin-top: 30px;
}
.domain-container-card {
    background: rgb(255, 255, 255);
    border-radius: 25px;
    opacity: 1;
    text-align: center;
    cursor: pointer;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
    color: #000000;
    width: 12rem;
    margin: 30px auto;
    box-sizing: border-box !important;
    box-shadow: 2px 3px 9px 1px rgba(21, 7, 78, 0.25) !important;
}

#domains{
    margin-top: 15rem;
}
    .searchbar{
        padding: 10px 15px;
        min-width: 38%;
        font-size: 1rem;
        line-height: 1.5em;
        color: #373D41;
        background-color: #FFF;
        background-clip: padding-box;
        border: 1px solid #C5C5C7;
        border-radius: 6px;
        -webkit-box-shadow: none;
        box-shadow: none;
        flex-grow: 1;
        border-right: none;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    .btn-search{
        background-color: #1a1a1a;
        color: #ffffff;
        font-weight: 700;
        text-decoration: none;
        white-space: normal;
        -webkit-transition: none;
        transition: none;
        cursor: pointer;
        outline: 0;
        padding: 14px 24px 13px;
        font-size: 1rem;
        line-height: 1.25rem;
        border-radius: 6px;
        border-width: 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
    }
    .span-d{
        font-size: large;
        font-weight: 500;
    }

.domain-class{
    color: #ffffff;
    background-color: #420f52 !important;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' viewBox='0 0 1600 800'%3E%3Cg %3E%3Cpath fill='%23481059' d='M486 705.8c-109.3-21.8-223.4-32.2-335.3-19.4C99.5 692.1 49 703 0 719.8V800h843.8c-115.9-33.2-230.8-68.1-347.6-92.2C492.8 707.1 489.4 706.5 486 705.8z'/%3E%3Cpath fill='%234d1260' d='M1600 0H0v719.8c49-16.8 99.5-27.8 150.7-33.5c111.9-12.7 226-2.4 335.3 19.4c3.4 0.7 6.8 1.4 10.2 2c116.8 24 231.7 59 347.6 92.2H1600V0z'/%3E%3Cpath fill='%23531367' d='M478.4 581c3.2 0.8 6.4 1.7 9.5 2.5c196.2 52.5 388.7 133.5 593.5 176.6c174.2 36.6 349.5 29.2 518.6-10.2V0H0v574.9c52.3-17.6 106.5-27.7 161.1-30.9C268.4 537.4 375.7 554.2 478.4 581z'/%3E%3Cpath fill='%2359156f' d='M0 0v429.4c55.6-18.4 113.5-27.3 171.4-27.7c102.8-0.8 203.2 22.7 299.3 54.5c3 1 5.9 2 8.9 3c183.6 62 365.7 146.1 562.4 192.1c186.7 43.7 376.3 34.4 557.9-12.6V0H0z'/%3E%3Cpath fill='%235f1676' d='M181.8 259.4c98.2 6 191.9 35.2 281.3 72.1c2.8 1.1 5.5 2.3 8.3 3.4c171 71.6 342.7 158.5 531.3 207.7c198.8 51.8 403.4 40.8 597.3-14.8V0H0v283.2C59 263.6 120.6 255.7 181.8 259.4z'/%3E%3Cpath fill='%236a1e85' d='M1600 0H0v136.3c62.3-20.9 127.7-27.5 192.2-19.2c93.6 12.1 180.5 47.7 263.3 89.6c2.6 1.3 5.1 2.6 7.7 3.9c158.4 81.1 319.7 170.9 500.3 223.2c210.5 61 430.8 49 636.6-16.6V0z'/%3E%3Cpath fill='%23742595' d='M454.9 86.3C600.7 177 751.6 269.3 924.1 325c208.6 67.4 431.3 60.8 637.9-5.3c12.8-4.1 25.4-8.4 38.1-12.9V0H288.1c56 21.3 108.7 50.6 159.7 82C450.2 83.4 452.5 84.9 454.9 86.3z'/%3E%3Cpath fill='%237f2da5' d='M1600 0H498c118.1 85.8 243.5 164.5 386.8 216.2c191.8 69.2 400 74.7 595 21.1c40.8-11.2 81.1-25.2 120.3-41.7V0z'/%3E%3Cpath fill='%238a34b5' d='M1397.5 154.8c47.2-10.6 93.6-25.3 138.6-43.8c21.7-8.9 43-18.8 63.9-29.5V0H643.4c62.9 41.7 129.7 78.2 202.1 107.4C1020.4 178.1 1214.2 196.1 1397.5 154.8z'/%3E%3Cpath fill='%23953cc5' d='M1315.3 72.4c75.3-12.6 148.9-37.1 216.8-72.4h-723C966.8 71 1144.7 101 1315.3 72.4z'/%3E%3C/g%3E%3C/svg%3E") !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}
.domains-features{
    color: #ffffff;
}
.icon {
    height: 50px;
    width: 50px;
    background: #E8E9EE;
    border-radius: 50%;
    color: #dc4a89;
}
.df{
    background: #fff;
    color: #000000;
}

.icon > .fa-sync{
    font-size: x-large;
    padding: 13px;
}
.icon > .fa-lock,.fa-tools{
    font-size: x-large;
    padding: 13px 15px;
}
.icon > .fa-shield-alt, .fa-keyboard, .fa-headset, .fa-microchip{
    font-size: x-large;
    padding: 13px 13px;
}
.icon > .fa-stopwatch{
    font-size: x-large;
    padding: 13px 15px;

}
.fa-li > .fa-microchip{
    font-size: inherit;
}
.fa-li{
    color: #9a4471;
}

.table {
    width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
}

.table th,
.table td {
    padding: 1rem;
    vertical-align: top;
    border-top: 1px solid #e9ecef;
}

.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #e9ecef;
}

.table tbody + tbody {
    border-top: 2px solid #e9ecef;
}

.table .table {
    background-color: #f8f9fe;
}

.table-dark,
.table-dark > th,
.table-dark > td {
    background-color: #c1c2c3;
}

.table .thead-dark th {
    color: #f8f9fe;
    border-color: #1f3a68;
    background-color: #172b4d;
}

.table .thead-light th {
    color: #8898aa;
    border-color: #e9ecef;
    background-color: #f6f9fc;
}

.table-dark {
    color: #f8f9fe;
    background-color: #172b4d;
}

.table-dark th,
.table-dark td,
.table-dark thead th {
    border-color: #1f3a68;
}

.table-responsive {
    display: block;
    overflow-x: auto;
    width: 100%;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}
.page-item.active .page-link {
    box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
}

.page-item .page-link,
.page-item span {
    font-size: .875rem;
    display: flex;
    width: 36px;
    height: 36px;
    margin: 0 3px;
    padding: 0;
    border-radius: 50% !important;
    align-items: center;
    justify-content: center;
}

.progress {
    overflow: hidden;
    height: 8px;
    margin-bottom: 1rem;
    border-radius: .25rem;
    background-color: #e9ecef;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, .1);
}

.progress .sr-only {
    font-size: 13px;
    line-height: 20px;
    left: 0;
    clip: auto;
    width: auto;
    height: 20px;
    margin: 0 0 0 30px;
}

.progress-bar {
    height: auto;
    border-radius: 0;
    box-shadow: none;
}

.table thead th {
    font-size: .9rem;
    padding-top: .75rem;
    padding-bottom: .75rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    border-bottom: 1px solid #e9ecef;
}

.table th {
    font-weight: 600;
}

.table td .progress {
    width: 120px;
    height: 3px;
    margin: 0;
}

.table td,
.table th {
    font-size: .8125rem;
    white-space: nowrap;
}

.table.align-items-center td,
.table.align-items-center th {
    vertical-align: middle;
}

.table .thead-dark th {
    color: #4d7bca;
    background-color: #1c345d;
}

.table .thead-light th {
    color: #8898aa;
    background-color: #f6f9fc;
}

.table-flush td,
.table-flush th {
    border-right: 0;
    border-left: 0;
}

.table-flush tbody tr:first-child td,
.table-flush tbody tr:first-child th {
    border-top: 0;
}

.table-flush tbody tr:last-child td,
.table-flush tbody tr:last-child th {
    border-bottom: 0;
}

.card-u .table {
    margin-bottom: 0;
}

.card-u .table td,
.card-u .table th {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
}

.card-u {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: .375rem;
    background-color: #fff;
    background-clip: border-box;
}
.col {
    max-width: 100%;
    flex-basis: 0;
    flex-grow: 1;
}
.avatar {
    font-size: 1rem;
    display: inline-flex;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 50%;
    background-color: #adb5bd;
    align-items: center;
    justify-content: center;
}
.avatar img {
    width: 100%;
    border-radius: 50%;
}
.align-items-center {
    align-items: center !important;
}
.media {
    display: flex;
    align-items: flex-start;
}

[class*='shadow'] {
    transition: all .15s ease;
}
.shadow {
    box-shadow: 0 0 2rem 0 rgba(136, 152, 170, .15) !important;
}
.bg-default {
    background-color: #172b4d !important;
}
.table-dark {
    color: #000000 !important;
    background-color: #ffffff !important;
}
.table .thead-dark th {
    color: #eb4c83 !important;
    background-color: #ffffff !important;
    border-color: #cecbce !important;
}
.table-dark td, .table-dark th, .table-dark thead th{
    border-color: #f1f1f1 !important;
}
.tb-text{
    font-size: 17px;
    font-weight: 500;
}
th > i{
    font-size: small !important;
    padding-right: 3px !important;
    color: #eb4c83 !important;
}
.text-muted{
    color: #6b6b6b!important;
}
.p-f{
    text-align: center;
    color: #a6a6a6;
    font-size: smaller;
}
.btn-buy {
    font-size: 100% !important;
    border-radius: .5em !important;
    font-weight: bold !important;
    padding: 1rem !important;
    transition: all 0.2s !important;
    color: #ffffff !important;
    background-color: #dd84b3 !important;
    border-color: #ffffff !important;
}
.card-img-top-two {
    width: 87% !important;
    margin: 0 auto;
    display: block;
    border-top-left-radius: calc(.25rem - .0625rem);
    border-top-right-radius: calc(.25rem - .0625rem);
    border: 1px solid;
    border-color: #e2e2e2;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
.panel-card{
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    border: .0625rem solid rgba(0,0,0,.05);
    border-radius: .25rem;
    background-color: #172b4d!important;
    background-clip: border-box;
}
[class*=shadow] {
    transition: all .15s ease;
}
.card-blockquote {
    position: relative;
    padding: 2rem;
    background: #eb4c83;
    width: 87%;
    margin: 0 auto;
    border: 1px solid;
    border-color: #e2e2e2;
    box-shadow: 0 15px 35px rgba(50,50,93,.1),0 5px 15px rgba(0,0,0,.07)!important;
}
.fill-default{
    fill: rgb(190, 110, 170);
}
blockquote {
    margin: 0 0 1rem;
}


.icon-shape {
    padding: 12px;
    text-align: center;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}
.icon-shape-info {
    color: #ffffff;
    background-color: #eb4c83;
    font-size: x-large;
}   
.icon-shape {
    display: inline-flex;
    padding: 12px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
}
.icon-lg {
    width: 4rem;
    height: 4rem;
}


.hm-new-sgnup-prc-cta-sec {
    color: #fff;
    padding: 80px 0;
    background: url(//www.cloudways.com/wp-content/themes/cw_multilingual/template/assets/css/widget/../../img/home/bottom-cta-right.png) no-repeat top right,url(//www.cloudways.com/wp-content/themes/cw_multilingual/template/assets/css/widget/../../img/home/bottom-cta-left.png) no-repeat top left #be73c1;
}
.p-color{
    color: #0a1e43;
}
.data-text{
    display: inline-block;
}

/* Supp Boxes*/
.supp-boxes{
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
}

.supp-box{
    background: white;
    box-shadow: 3px 3px 9px 0px #ffd6e8;
    border: 1px solid;
    border-color: #dedede;
    padding: 1rem;
}
.supp-img img{
    width: 25%;
}
.supp-text{
    color:  #0a1e43;
}
.supp-text:hover{
    color:  #0a1e43;
}
.btn-purple {
    background-color: #ea4ac5!important;
    border-color: #ea4ac5!important;
}
.animated{
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

.about-img{
    display: block;
    margin: 0 auto;
    width: 33%;
    margin-bottom: -7rem;
}
.px-7{
    padding: 0 35rem;
}
.info-box {
    color: #ab5c95;
    text-align: center;
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 20px 42px 30px 42px;
    background: #fff;
}
  
.info-box i {
    font-size: 32px;
    color: #ab5c95;
    padding: 8px;
}
  
.info-box h3 {
    font-size: 20px;
    color: #3e3b3b;
    font-weight: 700;
    margin: 10px 0;
}
  
.info-box p {
    padding: 0;
    line-height: 24px;
    font-size: 14px;
    margin-bottom: 0;
}
  
.php-email-form {
    box-shadow: 0 0 30px rgba(214, 215, 216, 0.6);
    padding: 30px;
    background: #fff;
}
  
.php-email-form .validate {
    display: none;
    color: red;
    margin: 0 0 15px 0;
    font-weight: 400;
    font-size: 13px;
}
  
.php-email-form .error-message {
    display: none;
    color: #fff;
    background: #ed3c0d;
    text-align: left;
    padding: 15px;
    font-weight: 600;
}
  
.php-email-form .error-message br + br {
    margin-top: 25px;
}
  
.php-email-form .sent-message {
    display: none;
    color: #fff;
    background: #18d26e;
    text-align: center;
    padding: 15px;
    font-weight: 600;
}
  
.contact .php-email-form .loading {
    display: none;
    background: #fff;
    text-align: center;
    padding: 15px;
}
  
.contact .php-email-form .loading:before {
    content: "";
    display: inline-block;
    border-radius: 50%;
    width: 24px;
    height: 24px;
    margin: 0 10px -6px 0;
    border: 3px solid #18d26e;
    border-top-color: #eee;
    -webkit-animation: animate-loading 1s linear infinite;
    animation: animate-loading 1s linear infinite;
}
  
.contact .php-email-form input, .contact .php-email-form textarea {
    border-radius: 5px;
    box-shadow: none;
    font-size: 14px;
}
  
.contact .php-email-form input:focus, .contact .php-email-form textarea:focus {
    border-color: #8ea5ca;
}
  
.contact .php-email-form input {
    padding: 20px 15px;
}
  
.contact .php-email-form textarea {
    padding: 12px 15px;
}
  
.contact .php-email-form button[type="submit"] {
    background: #3b4ef8;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
}
  
.php-email-form button[type="submit"]:hover {
    background: #0a22f6;
}
  
@-webkit-keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes animate-loading {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
.member {
    text-align: center;
    margin-bottom: 20px;
}
.member .pic {
    overflow: hidden;
    text-align: center;
}
.member .pic img {
    max-width: 100%;
}
.member .details {
    background: #eb4c83;
    color: #fff;
    padding: 15px;
    border-radius: 0 0 3px 3px;
}
.member h4 {
    font-weight: 700;
    margin-bottom: 2px;
    font-size: 18px;
}
.member span {
    font-style: italic;
    display: block;
    font-size: 13px;
}
.member .social {
    margin-top: 5px;
}
.member .social a {
    color: #fff;
}
.member .social i {
    font-size: 16px;
    margin: 0 2px;
}